.card{
    color: #000000;
    width: 60%;
    margin: 2% auto;
}
.center{
    text-align: center;
}
.centerm{
    margin: 0 auto;
}
.image-contain{
    display: block;
    max-height: 100%;
}
img{
    width: 500px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%; 
    border-radius: 50%; 
}
.bio{
    height: 6em;
    overflow: auto;
}