<div class="card" *ngFor="let obj of readPostArr">
    <img class="card-img-top" [src]="obj.loc_img" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{obj.loc_name}}</h5>
        <p class="card-text">{{obj.loc_desc}}</p>
        <div class="poster">By {{obj.email}}</div>
        <div>
            <span class="like"><img (click)="addvote(true, obj.post_id)" src="../../../assets/like.svg" alt="like">{{obj.likeCount}}</span>
            <span class="dislike"><img (click)="addvote(false, obj.post_id)" src="../../../assets/dislike.svg" alt="dislike">{{obj.dislikeCount}}</span>
        </div>
    </div>
</div>