header{
    background-color: #F31C5E;
    display: inline-block;
    width: 100%;
    font-size: 125%;
}
.menu{
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    padding: 1% 3%;
    outline: none;
}
.left{
    float: left;
}
.butn{
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .325rem .7rem;
    font-size: 1em;
    line-height: 1em;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
}